.issues {
	&-container {
		padding: 0.75rem;
		position: relative;

		.heading {
			border-bottom: 0.25rem solid $cerulean;
			display: inline-block;
			margin: 0 0 1.75rem;
		}

		.switch {
			position: relative;
			display: inline-block;
			width: 3.75rem;
			height: 34px;
			outline: none;
		}
		.switch input {
			opacity: 0;
			width: 0;
			height: 0;
		}
		.slider {
			position: absolute;
			cursor: pointer;
			outline: none;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: $switchgrey;
			-webkit-transition: 0.4s;
			transition: 0.4s;
		}

		.slider:before {
			position: absolute;
			content: "";
			height: 26px;
			width: 26px;
			left: 4px;
			bottom: 4px;
			background-color: white;
			-webkit-transition: 0.4s;
			transition: 0.4s;
		}

		input:checked + .slider {
			background-color: $checkblue;
		}

		input:focus + .slider {
			box-shadow: 0 0 1px $checkblue;
		}

		input:checked + .slider:before {
			-webkit-transform: translateX(26px);
			-ms-transform: translateX(26px);
			transform: translateX(26px);
		}

		/* Rounded sliders */
		.slider.round {
			border-radius: 34px;
		}

		.slider.round:before {
			border-radius: 50%;
		}

		.issue {
			padding: 0.75rem;
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
				0 1px 2px rgba(0, 0, 0, 0.24);
			transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
			border-radius: 0.25rem;
			align-items: center;
			margin: 0 0 1rem;

			&-info{
				&-heading{
					font-size: 1.175rem;
					font-weight: 500;
					padding: 0 0 0.35rem 0;
					letter-spacing: 0.02rem;
					text-transform: uppercase;
				}

				&-desc{
					margin-bottom: 0.35rem;
					font-size: 0.875rem;
				}

				&-createdat{
					color: $timegrey;
					font-size: 0.75rem;
				}

				&-category{
					margin-bottom: 0.25rem;
					font-size: 0.875rem;

					&-name{
						font-weight: 500;
						letter-spacing: 0.05rem;
					}
				}
			}

			&-options{

			}

			&modal{
				&-category{
					font-weight: 500;
					font-size: 0.875rem;
				}

				&-desc{
					padding: 0.75rem 0;
				}

				&-extradesc{
					padding-bottom: 0.75rem;
					font-size: 0.825rem;

					.extradesc{
						font-weight: 500;
					}
				}

				&-resform{
					padding: 0.75rem 0 0 0;

					textarea.form-control{
						min-height: 25vh;
						max-height: 45vh;
					}
				}

				&-createdat{
					font-size: 0.75rem;
					color: $timegrey;
					font-weight: 500;
				}

				.buttoncontainer{
					padding: 0.625rem 0 0 0;
				}
			}
		}
	}

	&-paneswitcher {
		display: flex;

		&-label {
			height: 100%;
			display: flex;
			align-items: center;
			margin: 0rem 0.75rem 0;
			text-transform: capitalize;
			font-size: 1.25rem;
			color: $littledark;
			font-weight: 500;
		}
	}

	&-categoryselector {
		align-items: center;
		border: 0.1rem solid $bordergrey;
		border-radius: 0.25rem;
		margin-top: 0.25rem;

		.column {
			padding: 0.65rem;
		}
	}

	&-toggler {
		background: $indigo;
		color: $white;
		width: 4rem;
		height: 4rem;
		display: flex;
		border: 0;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		position: fixed;
		z-index: 988;
		bottom: 2rem;
		right: 1.5rem;
		cursor: pointer;
		vertical-align: middle;
		box-shadow: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.16),
			0 0.1875rem 0.375rem rgba(0, 0, 0, 0.23);
	}
}
