$black: #000000;
$textblack: #212121;
$lightertext: #313131;
$white: #ffffff;
$teal: #008C7F;
$zomp: #2EA096;
$indigo: indigo;
$lightgrey: #f3f3f3;
$dotgrey: #313131;
$littledark: #292731;
$cerulean: #2a52be;
$bordergrey: #cfcfcf;
$checkblue: #2196f3;
$switchgrey: #cccccc;